<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.css"> <!-- bootstrap darkly theme: https://bootswatch.com/darkly/ -->
	<script src="https://kit.fontawesome.com/d236e49b89.js" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
</head>

<style>
	.app{
		font-size:30px;
	}
</style>
1
<body>

	<nav class="navbar fixed-top navbar-light bg-light">
		<div class="container-fluid">
		  <span class="navbar-brand mb-0 h1"><i class="fas fa-chalkboard-teacher"></i> Training Data</span>
		  <span class="navbar-text">
			<button id="add-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
				<i class="fas fa-plus-square"></i>
			</button>
		  </span>
		</div>
	</nav>

	<div class="container" style="padding-top:90px;">
		<ul id="cred-list" class="list-group">
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col-7">Dog Poses</div>
					<div class="col-3">
						<div class="btn-group" role="group" aria-label="Basic outlined example">
							<button type="button" class="btn btn-outline-primary"><i class="fas fa-play"></i></button>
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-modal"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#del-modal"><i class="fas fa-trash"></i></button>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col-7">Plant Health</div>
					<div class="col-3">
						<div class="btn-group" role="group" aria-label="Basic outlined example">
							<button type="button" class="btn btn-outline-primary"><i class="fas fa-play"></i></button>
							<button type="button" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-outline-primary"><i class="fas fa-trash"></i></button>
						</div>
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>

	<div id="add-modal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title"><i class="fas fa-file"></i>  Add a new datastore</h5>
			<button type="button" class="btn btn-secondary close" data-dismiss="modal" aria-label="Close">
				<i class="fas fa-window-close"></i>
			</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-tag"></i></span>
						<input id="label-field" type="text" class="cred-input form-control" placeholder="Label" aria-label="Label" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-globe"></i></span>
						<input id="host-field" type="text" class="cred-input form-control" placeholder="Host" aria-label="Host" aria-describedby="basic-addon1">
					</div>
					
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-ethernet"></i></span>
						<input id="port-field" type="text" class="cred-input form-control" placeholder="Port" aria-label="Port" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-folder-open"></i></i></span>
						<input id="path-field" type="text" class="cred-input form-control" placeholder="Path" aria-label="Path" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						<input id="user-field" type="text" class="cred-input form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
						<input id="pass-field" type="password" class="cred-input form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="test-button" type="button" class="btn btn-info"><i class="fas fa-vial"></i>Test</button>
				<button id="save-button" type="button" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
			</div>
		</div>
		</div>
	</div>

	<div id="del-modal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Delete datastore credentials?</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the <span id="delete-label"></span> entry?
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button id="delete-button" label_name="" type="button" class="btn btn-danger">Delete</button>
			</div>
		</div>
		</div>
	</div>

	<div id="pass-modal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Open <span id="pass-label"></span></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						<input id="check-user-field" type="text" class="cred-input form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" disabled="true">
					</div>

					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
						<input id="check-pass-field" type="password" class="cred-input form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button id="pass-button" type="button" class="btn btn-danger">Connect</button>
			</div>
		</div>
		</div>
	</div>

	<div id="play-modal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title"><span id="play-label"></span></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">

				<div class="card-body">
					<div class="btn-group mr-2" role="group" aria-label="First group">
						<button type="button" class="btn btn-primary btn-sm float-left"><i class="fas fa-undo"></i></button>
						<button type="button" class="btn btn-primary btn-sm float-right"><i class="fas fa-forward"></i></button>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="second group">
						<button type="button" class="btn btn-primary btn-sm float-left"><i class="fas fa-plus-square"></i></button>
					</div>
				</div>
		
				<svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
				<rect width="100%" height="100%" fill="#868e96" style="--darkreader-inline-fill: #585f63;" data-darkreader-inline-fill=""></rect>
				<text x="50%" y="50%" fill="#dee2e6" dy=".3em" style="--darkreader-inline-fill: #d6d2cd;" data-darkreader-inline-fill="">Image cap</text>
				</svg>
		
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="class-button">
								sitting
							  </div>
						
							  <div style="margin-left:25%;" class="class-button">
								standing
							  </div>
						
							  <div style="margin-left:50%;" class="class-button">
								laying
							  </div>
							  
							  <div style="margin-left:75%;" class="class-button">
								unknown
							  </div>
						</div>
						<div class="col">
							
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				footer
			</div>
		</div>
		</div>
	</div>


<script src="../assets/jquery-3.3.1.slim.min.js"></script>
<script src="../assets/popper.min.js"></script>
<script src="../assets/bootstrap.min.js"></script>
<script type="text/javascript" src = "../assets/index.js"></script>

<style type="text/css">
  html, body {
    height: 100%;
  }

  .container {
    padding: 0px;
  }

  .display-3 {
    font-size: 2.0rem;
  }

  .jumbotron {
    background: #fff;
  }

  .button-icon {
	pointer-events : none;
  }

</style>
<script type="text/javascript">
	function toggle_popover() {
		$('#popover').popover('toggle')
	}
</script>
</body>

</html>