<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.css"> <!-- bootstrap darkly theme: https://bootswatch.com/darkly/ -->

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
</head>

<style>
	.app{
		font-size:30px;
	}
</style>

<body>

	<nav class="navbar fixed-top navbar-light bg-light">
		<div class="container-fluid">
		  <span class="navbar-brand mb-0 h1">Navbar</span>
		  <span class="navbar-text">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal">
				Add
			</button>
		  </span>
		</div>
	</nav>

	<div class="container" style="padding-top:90px;">
		<ul class="list-group">
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col-7">Cras justo odio</div>
					<div class="col-3">
						<div class="btn-group" role="group" aria-label="Basic outlined example">
							<button type="button" class="btn btn-outline-primary">P</button>
							<button type="button" class="btn btn-outline-primary">E</button>
							<button type="button" class="btn btn-outline-primary">D</button>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>

	<div id="add_modal" class="modal" tabindex="-1">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Edit Datastore</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">@</span>
						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
					  </div>

					  <div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">@</span>
						<input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
					  </div>
				</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		</div>
	</div>

<script type="text/javascript" src = "../assets/script.js"></script>
<script src="../assets/popper.min.js"></script>
<script src="../assets/bootstrap.min.js"></script>
<style type="text/css">
  html, body {
    height: 100%;
  }

  .container {
    padding: 0px;
  }

  .display-3 {
    font-size: 2.0rem;
  }

  .jumbotron {
    background: #fff;
  }

</style>
<script type="text/javascript">
	function toggle_popover() {
		$('#popover').popover('toggle')
	}
</script>
</body>

</html>